@model TodoItem

<form asp-action="Create" method="post" class="row">
    <div class="col-4">
        <div class="form-group">
            <input asp-for="Title" class="form-control" placeholder="Title of task" required/>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <input class="form-control" type="datetime-local" asp-for="DueAt" required/>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>
