@model CRUD_MVC_EF.Models.Contacto
@{
    ViewData["Title"] = "Borrar Contacto";
}

<h1 class="text-center">
    Contacto con .NET 8 (.NET CORE MVC)
</h1>


<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <div class="text-white">
                    <strong>Borrar Contacto</strong>
                </div>

            </div>
            <div class="card-body">
                <form asp-action="Borrar">

                    @* Id oculto del usuario *@
                    <input asp-for="IdContacto" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" readonly />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" readonly />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FechaCreacion" class="control-label"></label>
                        <input asp-for="FechaCreacion" class="form-control" readonly />
                        <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-secondary d-block mx-auto">
                            <i class="fa fa-user-plus" aria-hidden="true"></i> Borrar
                        </button>
                    </div>
                </form>
                <a asp-controller="Inicio" asp-action="Index" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>
</div>

