@model CRUD_MVC_EF.Models.Contacto
@{
    ViewData["Title"] = "Detalle de Contacto";
}

<h1 class="text-center">
    Contacto con .NET 8 (.NET CORE MVC)
</h1>


<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <div class="text-white">
                    <strong>Detalle de Contacto</strong>
                </div>

            </div>
            <div class="card-body">
                
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nombre: </strong> @Html.DisplayFor(m => m.Nombre) </li>
                    <li class="list-group-item"><strong>Telefono: </strong> @Html.DisplayFor(m => m.Telefono) </li>
                    <li class="list-group-item"><strong>Email: </strong> @Html.DisplayFor(m => m.Email) </li>
                    <li class="list-group-item"><strong>Fecha de Creacion: </strong> @Html.DisplayFor(m => m.FechaCreacion) </li>
                </ul>

                <a asp-controller="Inicio" asp-action="Index" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>
</div>

